version: "3.9"

services:
  backend:
    build: ./backend
    container_name: movie-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: movie-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
